* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
        background-color: #e0e2e6;;
        background-size: auto 100vh;
    }
      header{
       
        height: 50vh ;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c2e5e5c2;   
      }

      .menu {
        background-color: #ffffff;
        position: fixed;
        width: 100vw;
        top: 0;
      }
     
      .menu ul{
        
        display: flex;
        justify-content: space-evenly;
      }
      .menu a {
        color: black;
        display: block;
        padding: 10px 20px;
        font-style: italic;
      }
      .fd a,
      .tx a{
        text-decoration: none;
        font-size: 16px;

      }
      a {
         text-decoration: none;
        font-size: 17px ;
        font-weight: bold;
        color: black;
      }
      
      a:hover{
        color: #52b2f1;
      }
       .menu li{
         list-style: none;
      }
      
      .site-subtitle,
      .site-title{
        text-align: center;
        
        }
      .site-subtitle{
        font-style: italic;
      }
      .img-1{
        height: 80px;
        width: 85px;
        padding: 10px;
        position:absolute;
    }
      .img-2{
       height: 180PX;
       width: 180px;
       border-radius: 100px;
       padding: 10px;
    }
      .img-3{
        height: 160PX;
        width: 160px;
        padding: 18px;
        background-color: #c8e4f2;
        border-radius: 10em;
    }
      .img-4{
        height: 160PX;
        width: 160px;
        padding: 25px;
        background-color: #c8e4f2;
        border-radius: 10em;
    }

      .trns{
        font-size: 2em;
        font-style: italic;
        line-height: 2.5em;
        background-color: #9cd2cbe6;
        padding-left: 12px;
      }
      .super-choque{
        
        width: 100px;
        height: 100px;
        background-color: #7ccbff;
        border-radius: 50px;
      }
      .titu {
        position: static;
        color: black;
        text-align: center;
        top: -12px;
        width: 210px;
        line-height: 30px;
        height: 40px;
        left: 40px;
     }
        .img-tele{
        max-height: 25px;
        position: fixed;
        padding-left: 5px;
        padding-bottom: 5px;
      }
        .img-tel{
          max-height: 26.5px;
          position: absolute;
          padding-left: 3px;
          padding-bottom: 5px;
        }
        figure{
          display: inline-block;
          padding-left:10px;        
        }
        section {
          background-color: #ffffff;
          border: 2.5px solid #e0e2e6;
          margin-left: 30px;
          margin-right: 30px;
          margin-top: 10px;
      }
      span{
        position: relative;
        bottom: 10px;      
      }
      .tx{
        text-align: center;
        position: relative;
        top: -10px;
    }
      .fotinha{
        display: flex;
        justify-content: space-evenly;
    }
      .img-4,
      .img-3{
       position: relative;
       top: 20px;
    }
    .img-3{
      position: relative;
      left: 18px;
    }
    .img-4{
      position: relative;
    }
      .fd{
       position: relative;
       top: 20px;
   } 
   figcaption{
    font-family: 'PT Serif', serif;
  }